.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
body{
	font-family: 'Roboto', sans-serif;
}
menuHeader{
	font-family: 'Roboto', sans-serif;
	color: white;
}
/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 2px solid #ccc;
    border-top: none;
	background-image: url(images/background.png);
	
}

.foodImage{
	height : 100;
	box-shadow: 5px 2px gray;

}

.foodHeader{
	font-size: 40px;
	float: right;
}

.row {
    display: flex;
	padding-top: 15px;
	
}

/* Create two equal columns that sits next to each other */
.column {
    flex: 50%;
    padding: 10px;
	margin-right: 10px;
	border: solid .5px gray;
	box-shadow: 5px 2px gray;
	background-color: white;
}
.column:hover{
	cursor: pointer;
	background-color: gray;
	box-shadow: 5px 2px black;

}
menuHeader{
	font-size: 66px;
}
.foodDescription{
	margin-top: 10px;
	float: right;
	clear: both;
}
.foodPrice{
	float:left;
	clear:both;
	font-weight: bold;
}
.orderButton{
	margin-top: 20px;
	margin-left: 10px;
	float: right;
}

.addToCart{
	display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}
.modal-footer {
    padding: 28px 16px;
    background-color: #898989;
    color: white;
}
.modal-header {
    padding: 2px 16px;
    background-color: #898989;
    color: white;
}
.modal-body {
	padding: 2px 16px;
	overflow: hidden;
}
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.confirm{
	position:absolute;
     bottom:2;
     right:2;
	padding: 3px;
}
.rowOne{
	border-bottom:1px solid black;
}
.checkout{
	position:absolute;
     bottom:2;
     right:2;
	display: none;
	float: right;
	clear: both;
	padding: 3px;
}